* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: 1s ease-out;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.6;
    color: #444444;
    background: #fff;
}

.clearfix::after,
.clearfix::before {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

a {
    color: #2b7cab;
    text-decoration: none;
    margin: 0 .25em;
}

a:hover {
    color: #e65b5b;
}

a:active {
    color: #000;
    outline: none;
}

a.active {
    color: #000;
    outline: none;
}

a:visited {
    color: #2b7cab;
}

h1 {
    font-size: 1.6em;
    font-weight: 700;
}

h2 {
    font-size: 1.5em;
    font-weight: 700;
}

h3 {
    font-size: 1.4em;
    font-weight: 600;
}

h4 {
    font-size: 1.3em;
    font-weight: 400;
}

h5 {
    font-size: 1.2em;
    font-weight: 400;
}

h6 {
    font-size: 1.1em;
    font-weight: 400;
}

p {
    font-size: 1em;
    line-height: 1.4;
    font-weight: 100;
    margin: .5em 0;
    color: #7b7b7b;
}

blockquote {
    width: 90%;
    margin: 1em auto;
    border-top: 1px solid:#ccc;
    border-right: 1px solid:#ccc;
    border-bottom: 1px solid:#ccc;
    border-left: 3px solid#a6cade;
    background: #e9e9e9;
    padding: 1em;
}

textarea {
    max-width: 100%;
    word-wrap: break-word;
}

input {
    width: 100%;
    padding: .25em;
    color: #7b7b7b;
    border: 1px solid#ccc;
    outline: none;
    margin: .25em;
    clear: both;
}

.button {
    width: 50%;
    padding: .5em 1em;
    background: #2b7cab;
    margin: 1em auto;
    color: #f8f8f8;
    border-radius: 5px;
    border: none;
    outline: none;
}

.button:hover {
    background: #e65b5b;
    cursor: pointer;
}

.button:active {
    background: #e92525;
    outline: none;
}

label {
    color: #a6cade;
    font-size: .9em;
}

.description {
    font-size: .8em;
}

.layout-container {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
}

.header {
    width: 100%;
    background: #333;
    padding: 1em;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    -o-box-shadow: 0 0 30px rgba(0, 0, 0, .6);
    box-shadow: 0 0 30px rgba(0, 0, 0, .6);
}

.header div {
    float: left;
    margin: 0 1em;
}

.header div:last-child {
    float: right;
}

.header img {
    max-width: 100%;
    float: left;
    margin: 0 1em 0;
}

.layout-content {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 2em;
}

.main {
    width: 100%;
    float: left;
    margin: 0 1% 0 0;
}

.layout-sidebar-first {
    width: 20%;
    float: left;
    margin: 2em 1% 0 0;
}

.layout-sidebar-second {
    width: 20%;
    float: left;
    margin: 2em 0 0 0;
}

.footer {
    background: #2b7cab;
    width: 100%;
    height: 70px;
    padding: 1em;
    color: #e9e9e9;
    margin-top: -70px;
}

.footer a {
    color: #fff;
}

.push {
    width: 100%;
    height: 70px;
}

#block-light-branding {
    color: #7b7b7b;
}

#block-light-branding a {
    color: #7b7b7b;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2em;
}

#block-light-branding a:hover {
    color: #ccc;
}

#block-light-branding a:active {
    color: #f8f8f8;
}

.navigation {
    overflow: hidden;
    margin-top: .25em;
}

.navigation ul li a {
    color: #8b8b8b;
    font-weight: 500;
}

.navigation ul li a:hover {
    color: #ccc;
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
}

.navigation ul li a:hover {
    color: #ccc;
    text-shadow: 0 0 20px rgba(255, 255, 255, .9);
}

.navigation ul li a:active {
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    outline: none;
}

ul li {
    display: inline-block;
    list-style: none;
}

.article-content {
    margin: 2em 0 0 0;
    clear: both;
}

.submitted {
    color: #444444;
    margin-bottom: 1em;
}

.submitted img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 1em 1em 0 0;
    border-radius: 50%;
}

.commment-submitted-picture {
    height: 100px;
    float: left;
    margin: 0 1em 0;
}

.commment-submitted-picture img {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 1em 0;
    border-radius: 50%;
}

.commment-content {
    overflow: hidden;
}

.indented {
    margin-left: 4em;
}

a[href="/node/add"] {
    padding: .5em 1em;
    background: #2b7cab;
    margin: 2em 0 0 0;
    color: #f8f8f8;
    border-radius: 5px;
    border: none;
    outline: none;
}

a[href="/node/add"]:hover {
    background: #e65b5b;
    cursor: pointer;
}

a[href="/node/add"]:active {
    background: #e92525;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

a.feed-icon {
    background: #e65b5b;
    padding: .5em 1em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

a.feed-icon:hover {
    background: #e92525;
}

a.feed-icon:active {
    background: #e65b5b;
    outline: none;
}

.toggle-menu {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 2px;
    position: absolute;
    top: 1em;
    right: 1em;
    margin: auto;
    color: #fff;
}

span.toggle-span {
    display: block;
    width: 100%;
    height: 4px;
    margin: 2px 0;
    background: #7b7b7b;
    border-radius: 1px;
}

.toggle-menu:hover {
    cursor: pointer;
    margin-top: 1px;
}

@media screen and (max-width:800px) {
    input {
        width: 100%;
        padding: .25em;
        color: #7b7b7b;
        border: 1px solid#ccc;
        outline: none;
        margin: .25em;
    }

    .button {
        width: 30%;
        margin: 0 auto;
    }

    .layout-content {
        width: 98%;
        margin: 0 auto;
        margin-top: 2em;
    }

    .header {
        padding: .5em;
    }

    .main {
        width: 70%;
        float: left;
        margin: 0 1% 0 0;
    }

    .layout-sidebar-first {
        width: 29%;
        float: left;
        margin: 0;
    }

    .layout-sidebar-second {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    #block-light-branding {
        margin: 0;
    }

    .submitted img {
        width: 35px;
        height: 35px;
        float: left;
        margin: 0 1em 0;
        border-radius: 50%;
    }

    .commment-submitted-picture img {
        width: 35px;
        height: 35px;
        float: left;
        margin: 0 1em 0;
        border-radius: 50%;
    }

    .indented {
        margin-left: 4em;
    }

    .toggle-menu {
        display: block;
        width: 25px;
        height: auto;
        padding: 2px;
        overflow: auto;
        position: absolute;
        top: .75em;
        right: .75em;
        margin: auto;
        color: #fff;
    }

    .navigation {
        display: none;
    }

    .show {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .show div {
        display: block;
        float: none;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .show div:last-child {
        float: none;
    }

    .show div ul li {
        display: block;
        border-bottom: 1px solid#7b7b7b;
        padding: 1em 0;
    }

    #block-light-account-menu ul li:last-child {
        border-bottom: none;
    }
}

@media screen and (max-width:640px) {
    input {
        width: 100%;
        padding: .25em;
        color: #7b7b7b;
        border: 1px solid#ccc;
        outline: none;
        margin: .25em;
    }

    .button {
        width: 30%;
        margin: 0 auto;
    }

    .layout-content {
        width: 98%;
        margin: 0 auto;
        margin-top: 2em;
    }

    .header {
        padding: .5em;
    }

    .main {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .layout-sidebar-first {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .layout-sidebar-second {
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    #block-light-branding {
        margin: 0;
    }

    .submitted img {
        width: 35px;
        height: 35px;
        float: left;
        margin: 0 1em 0;
        border-radius: 50%;
    }

    .commment-submitted-picture img {
        width: 35px;
        height: 35px;
        float: left;
        margin: 0 1em 0;
        border-radius: 50%;
    }

    .indented {
        margin-left: 4em;
    }

    .toggle-menu {
        display: block;
        width: 25px;
        height: auto;
        padding: 2px;
        overflow: auto;
        position: absolute;
        top: .75em;
        right: .75em;
        margin: auto;
        color: #fff;
    }

    .navigation {
        display: none;
    }

    .show {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .show div {
        display: block;
        float: none;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .show div:last-child {
        float: none;
    }

    .show div ul li {
        display: block;
        border-bottom: 1px solid#7b7b7b;
        padding: 1em 0;
    }

    #block-light-account-menu ul li:last-child {
        border-bottom: none;
    }
}

@media (min-width:1200px) {}

@media (min-width:992px) and (max-width:1199.98px) {}

@media (min-width:768px) and (max-width:991.98px) {}

@media (min-width:576px) and (max-width:767.98px) {}

@media (max-width:575.98px) {}

.layout-content {
    margin-top: 0;
}

a#main-content {
    display: none;
    outline: 1px solid red;
}

body {
    background: #eee;
}

#block-webform {
    margin: 0px;
    padding: 48px;
    background: #fff;
    width: 480px;
    border-radius: 4px;
}

@media (max-width:575.98px) {
    #block-webform {
        width: auto;
    }
}

#block-webform h2 {
    margin: 0 0 16px;
    font-size: 22px;
    line-height: 28px;
}

#block-webform label {
    color: #333;
}

#block-webform input {
    padding: 0 40px 0 12px;
    height: 48px;
    border-radius: 4px;
    position: relative;
}

#block-webform input::placeholder {
    font-size: 15px;
    color: #b0b0b0;
}

#block-webform input:focus {
    background: #F7F6FB;
    border: 1px solid #ACA3D9;
    padding-top: 12px;
}

#block-webform label {
    visibility: hidden;
    width: auto;
    height: auto;
    clip: auto;
    overflow: auto;
    word-wrap: normal;
    z-index: 1;
    top: 8px;
    left: 13px;
    font-size: 11px;
    line-height: 11px;
    color: #808080;
    opacity: 0;
}

#block-webform input:focus ~ label {
    opacity: 1;
    visibility: visible;
}

#block-webform .form-reset__icon {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    background: url('./../image/x-circle-fill.svg') center / contain no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}

#block-webform input:focus ~ .form-reset__icon {
    opacity: 1;
    visibility: visible;
}

#block-webform input:not(:placeholder-shown) {
    background: #F7F6FB;
    border: 1px solid #ACA3D9;
    padding-top: 12px;
}

#block-webform input:not(:placeholder-shown) ~ label {
    opacity: 1;
    visibility: visible;
}

#block-webform input:not(:placeholder-shown) ~ .form-reset__icon {
    opacity: 1;
    visibility: visible;
}

#block-webform textarea {
    padding: 14px 12px;
    border-radius: 4px;
    height: 64px;
}

#block-webform textarea:focus {
    background: #F7F6FB;
    border: 1px solid #ACA3D9;
    outline: none;
}

#block-webform textarea:not(:placeholder-shown) {
    background: #F7F6FB;
    border: 1px solid #ACA3D9;
}


#block-webform .js-form-item {
    position: relative;
}

#block-webform .js-form-item {
    margin: 0px 0px 16px;
}

#block-webform #edit-processed-text {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #EBEBEB;
}

#block-webform #edit-processed-text p {
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    margin: 0 0 0 16px;
    padding: 0;
    width: auto;
}

#block-webform #edit-processed-text p:first-of-type {
    width: 100%;
    max-width: 57px;
    margin: 0;
}

#block-webform #edit-processed-text img {
    display: block;
    width: 100%;
    max-width: 57px;
    height: auto;
    max-height: 36px;
    object-fit: cover;
    border-radius: 4px;
}

#block-webform #edit-data-i-vremya {
    display: flex;
}

#block-webform #edit-data-i-vremya .form-item {
    width: 50%;
    margin-bottom: 0;
}

#block-webform #edit-data-i-vremya .form-item input {
    padding: 0 12px 0 12px;
}

#block-webform #edit-data-i-vremya .form-item input:not(:placeholder-shown) {
    background: none;
    border: 1px solid #ccc;
    padding: 0 12px 0 12px;
}

#block-webform #edit-data-i-vremya .form-item input:not(:placeholder-shown) ~ label {
    opacity: 0;
    visibility: hidden;
}

#block-webform #edit-data-i-vremya .form-item input:focus {
    background: #F7F6FB;
    border: 1px solid #ACA3D9;
    padding-top: 12px;
}

#block-webform #edit-data-i-vremya .form-item input:focus  ~ label {
    opacity: 1;
    visibility: visible;
}

#block-webform #edit-data-i-vremya .form-item:first-of-type input {
    border-radius: 4px 0 0 4px;
    border-right: 0px;
}
#block-webform #edit-data-i-vremya .form-item:last-of-type input {
    border-radius: 0 4px 4px 0;
}

#block-webform .form-item-udobnaya-forma-svyazi img {
    width: 24px;
    height: 24px;
}

#block-webform .form-item-udobnaya-forma-svyazi p {
    font-size: 11px;
    line-height: 12px;
    color: #333333;
}

#block-webform .form-item-udobnaya-forma-svyazi ul {
    background: #F7F6FB;
    border-radius: 4px;
    padding: 4px 2px;
}

#block-webform .form-item-udobnaya-forma-svyazi ul li {
    margin: 0 2px;
    width: calc(25% - 4px);
    text-align: center;
    cursor: pointer;
}

#block-webform .form-item-udobnaya-forma-svyazi ul li .thumbnail {
    border-radius: 4px;
    padding: 10px 12px;
    border: 0px;
}

#block-webform .form-item-udobnaya-forma-svyazi ul li .selected {
    background: #E9E6FA;
}

#block-webform .form-item-udobnaya-forma-svyazi select#edit-udobnaya-forma-svyazi {
    display: none;
}

#block-webform .form-item-kommentariy textarea#edit-kommentariy.form-textarea {
    border-color: #ccc;
    color: #333;
}

#block-webform .webform-custom-options-buttons {
    display: flex;
    align-items: center;
    background: #F7F6FB;
    border-radius: 4px;
    padding: 4px 2px;
}
#block-webform .webform-custom-options-buttons .webform-custom-options-button {
    width: calc(100% - 4px);
    margin: 0 2px;
    line-height: 38px;
    font-size: 15px;
    color: #5947B3;
    cursor: pointer;
}
#block-webform .webform-custom-options-buttons .webform-custom-options-button[aria-checked="true"] {
    color: #333333;
    background: #E9E6FA;
    border-radius: 4px;
}

#block-webform #edit-actions {
    width: 128px;
    float: left;
}

#block-webform #edit-actions #edit-actions-submit {
    width: 128px;
}

#block-webform #edit-actions .button {
    line-height: 46px;
    padding: 0 24px;
    background: rgba(85, 64, 181, 1);
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}

#block-webform #edit-processed-text-01 {
    font-size: 13px;
    line-height: 18px;
    color: #808080;
    padding: 5px 0 5px 152px;
}

#block-webform #edit-processed-text-01 p {
    margin: 0;
}

#block-webform #edit-processed-text-01 a {
    color: #5947B3;
}

#block-webform #edit-processed-text-01.js-form-item {
    margin: 0px 0px;
}

@media (max-width:767.98px) {
    #block-webform #edit-actions {
        width: 100%;
        float: none;
    }

    #block-webform #edit-actions #edit-actions-submit {
        width: 100%;
    }

    #block-webform #edit-processed-text-01 {
        padding: 15px 0px 15px;
    }
}

#webform-submission-zapis-na-pokaz-add-form .webform-confirmation .webform-confirmation__message {
    padding: 100px 0px;
    text-align: center;
}

#webform-submission-zapis-na-pokaz-add-form .webform-confirmation .webform-confirmation__message img {
    width: 100px;
}

#webform-submission-zapis-na-pokaz-add-form .webform-confirmation .webform-confirmation__message .txt-1 {
    margin: 15px auto;
    font-size: 20px;
}

#webform-submission-zapis-na-pokaz-add-form .webform-confirmation .webform-confirmation__message .txt-2 {}

.footer {
    background: rgba(85, 64, 181, 1);
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
    outline-width: 0;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}